.cart {
  position: sticky;
  top: 0;
}
.cart-title {
  margin-top: 28px;
  color: #1c2b35;
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}
.cart-info p {
  padding-left: 23px;
  margin-bottom: 25px;
}
.cart-grand-total {
  color: #0e161a;
  font-size: 21px;
  letter-spacing: 0.032px;
}
.btn {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 232px;
  height: 48px;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.085px;
}
.btn-remove {
  background: #ff3030;
}
.btn-review {
  background: #f90;
}
